<div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">
    <div class="w-full max-w-3xl mx-auto">
        <form [formGroup]="changePasswordForm">
            <div class="w-full">
                <div class="text-xl">Change your password</div>
                <div class="text-secondary">You can only change your password twice within 24 hours!</div>
            </div>


            <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>


            <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
                <div class="sm:col-span-4">
                    <mat-form-field class="w-full">
                        <mat-label>Current password</mat-label>
                        <input formControlName="old_password" name="old_password" type="password" matInput
                            #passwordField1>
                        <button mat-icon-button type="button"
                            (click)="passwordField1.type === 'password' ? passwordField1.type = 'text' : passwordField1.type = 'password'"
                            matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="passwordField1.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'">
                            </mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="passwordField1.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'">
                            </mat-icon>
                        </button>
                        <mat-error *ngIf="changePasswordForm.get('old_password').hasError('required')">
                            Password is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="sm:col-span-4">
                    <mat-form-field class="w-full">
                        <mat-label>New password</mat-label>
                        <input formControlName="new_password" name="new_password" type="password" matInput
                            #passwordField2>
                        <mat-error *ngIf="changePasswordForm.get('new_password').hasError('required')">
                            Password is required
                        </mat-error>
                        <button mat-icon-button type="button"
                            (click)="passwordField2.type === 'password' ? passwordField2.type = 'text' : passwordField2.type = 'password'"
                            matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="passwordField2.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'">
                            </mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="passwordField2.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'">
                            </mat-icon>
                        </button>

                    </mat-form-field>
                    <div class="mt-1 text-md text-hint">Minimum 8 characters. Must include numbers, letters
                        and
                        special
                        characters.</div>
                </div>
            </div>
            <div class="my-10 border-t"></div>
            <div class="flex items-center justify-end">
                <button mat-stroked-button type="button">
                    Cancel
                </button>
                <button class="ml-4" mat-flat-button type="button" [color]="'primary'" (click)="changePwd()"
                    [disabled]="changePasswordForm.invalid || changePasswordForm.disabled">
                    <span *ngIf="!changePasswordForm.disabled">Save</span>
                    <mat-progress-spinner *ngIf="changePasswordForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </form>
    </div>
</div>